.container-contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 45px;
}

.container-input-contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.container-input-contact-form input {
    border: none;
    border-bottom: 1px solid #fff;
    border-bottom-color: #797979;
    width: 100%;
    background-color: #101010;;
    padding: 0.5rem;
    color: #fff;
}

.container-input-contact-form textarea {
    border: none;
    border-bottom: 1px solid #fff;
    border-bottom-color: #797979;
    width: 100%;
    height: 150px;
    background-color: #101010;
    resize: none;
    padding: 0.5rem;
    color: #fff;
}

.loading-contact-form {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    border-radius: 5px;
    border: none;
    background-color: #7BF3CB;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-contact-form{
    border: 4px solid #000000;
    border-top: 4px solid #7BF3CB; 
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: charger 0.8s linear infinite;
}

@keyframes charger{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}