---

---

<section>
    <div class="container-form">
        <div>
            <h2>Contacto</h2>
        </div>
    </div>
</section>

<style>

    section { 
        width: 100%;
        background-color: #101010;
    }

    .container-form {
        max-width: 768px;
        margin: 0 auto;
        padding: 2rem 1rem 2rem 1rem;
    }

    .container-form div h2 {
        color: #fff;
        text-align: center;
        font-weight: 400;
    }

</style>